# secrets
.env
*.crt
*.key
*.pem

# compiled output
node_modules/
generated/
dist/
dist-ssr/
build/

# logs
log/
logs/
*.log

# editor
*.sw?

# OS
.DS_Store

# Prevent pushing files after `npm install` made in the root folder
/package*.json
