# Logs
logs
*.log*

# Dependencies
node_modules/
__pycache__/

# Build
dist/
dist-ssr/
build/

# Environment
.env
.env.local

# SSL
*.crt
*.key
*.pem

# Editor
.vscode/*
!.vscode/extensions.json
*.sw?

# OS
.DS_Store

# README in docker services
docker/*/README.md
